@{
  Layout = "_Layout";
}

@using PierresTreats.Models

<h1>Pierre's Sweet and Savory Treats</h1>

<hr />
<h4>Treats</h4>
@if (Model["treats"].Length == 0)
{
  <p>No treats have been added yet!</p>
} 
else
{
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li>
        @Html.ActionLink(treat.TreatName, "Details", "Treats", new { id = @treat.TreatId })
      </li>
    }
  </ul>
}

<h4>Flavors</h4>
@if (Model["flavors"].Length == 0)
{
  <p>No flavors have been added yet!</p>
} 
else
{
  <ul>
    @foreach (Flavor flavor in Model["flavors"])
    {
      <li>
        @Html.ActionLink(flavor.FlavorName, "Details", "Flavors", new { id = @flavor.FlavorId })
      </li>
    }
  </ul>
}

<hr />